// Dark mode
$BG: #1e1e1e;

// THEME A
$BASIC_COLOR_A1: #f205b3;
$BASIC_COLOR_A2: #2a3159;
$BASIC_COLOR_A3: #b6dbf2;
$BASIC_COLOR_A4: #0d688c;
$BASIC_COLOR_A5: #36bfbf;

// THEME B
/* Color Theme Swatches in Hex */
$BASIC_COLOR_B1: #022859;
$BASIC_COLOR_B2: #011c40;
$BASIC_COLOR_B3: #011126;
$BASIC_COLOR_B4: #224d73;
$BASIC_COLOR_B5: #75a3bf;
