.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formContainer {
}

.btnPanel {
  margin: auto 0 10vh 0;
  justify-self: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &>*{
    margin: 0 1vw;
  }
}

.combine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &>* {
    margin: 0 1vw;
  }
}
