.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.inputArea {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  &>form {
    margin: 0 2vw;
  }
}

.btnPanel {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &>*{
    margin: 0 1vw;
  }
}

.combine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &>* {
    margin: 0 1vw;
  }
}
