@import "../../../assets/styles/variables";
@import '~antd/es/style/themes/default.less';
.container {
  width: 100%;
  height: 100%;
  padding: 3vh 3vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.title {
  font-family: @FONT_TAHOMA;
  font-size: 3vh;
  color: @cyan-10;
}

.edit {
  width: 100%;
  height: 46%;
  position: relative;
}

.transfer {
  width: 100%;
}
